body {
  font-family: OpenSans;
  color: #152935; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow: hidden;
  text-overflow: ellipsis; }

hr {
  width: 890px; }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Semibold.ttf);
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

a img {
  border: 0; }

button {
  border: 0; }

#background {
  background: rgba(90, 104, 114, 0.08); }

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  box-sizing: border-box; }

.container {
  max-width: 890px;
  margin: 0 auto; }

select, input, button {
  outline: none; }

.menu-icon {
  display: none; }

.header {
  background-image: url("../images/homepage.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 19px 0 35px;
  color: #fff; }

.header-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.logo {
  margin-right: 45px; }
  .logo a {
    display: inline-block; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 88px; }

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-right: 42px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent; }
  .nav-link:hover {
    border-bottom: 2px solid #fff; }

.dots {
  font-size: 19px;
  margin-right: 10px;
  letter-spacing: 3px;
  font-weight: 800;
  display: inline-block; }

.header-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.set-article-btn {
  box-sizing: border-box;
  padding: 10px 25px 10px 15px;
  background: #30b863;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 2px solid transparent;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px; }
  .set-article-btn:hover {
    border: 2px solid #fff; }
  .set-article-btn .fa-plus-circle {
    font-size: 18px;
    margin-right: 10px; }

.log-in {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  cursor: pointer; }

.header-heading {
  margin-top: 60px; }
  .header-heading h1 {
    font-size: 32px; }

.header-selection {
  margin-top: 45px; }

.form-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.block-select-town {
  margin-right: 40px; }

#select-town {
  margin-top: 13px;
  width: 345px;
  height: 41px;
  box-sizing: border-box;
  padding-left: 15px; }

.btn-search {
  cursor: pointer;
  background: #fff;
  color: #30AE63;
  width: 201px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #30AE63;
  font-size: 14px; }
  .btn-search:hover {
    background: #30AE63;
    color: #fff;
    border: 2px solid #fff; }

.select-room {
  margin-right: 51px; }

.select-room-wrapper {
  margin-top: 12px; }
  .select-room-wrapper label {
    margin-right: 5px; }

.checkbox {
  display: none; }

.checkbox-room {
  content: "";
  position: relative;
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  text-align: center;
  background: #30AE63;
  border-radius: 50%;
  box-sizing: border-box;
  padding-top: 10px;
  display: inline-block;
  vertical-align: middle; }
  .checkbox-room:hover {
    background: #fff;
    color: #000; }

.checkbox:checked + .checkbox-room::before {
  content: "";
  display: inline-block;
  width: 42px;
  height: 42px;
  position: absolute;
  top: -2px;
  left: -2px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #000;
  box-sizing: border-box;
  padding-top: 10px; }

.checkbox:checked + .checkbox-room-1::before {
  content: "1"; }

.checkbox:checked + .checkbox-room-2::before {
  content: "2"; }

.checkbox:checked + .checkbox-room-3::before {
  content: "3"; }

.checkbox:checked + .checkbox-room-4::before {
  content: "4"; }

.checkbox:checked + .checkbox-room-5::before {
  content: "5+"; }

.block-search {
  margin-top: 27px; }

.block, .first-block, .second-block, .third-block, .fifth-block {
  max-width: 890px;
  background: white;
  margin: 20px auto; }

.second-block h2,
.third-block h2,
.fourth-block h2,
.fifth-block h2,
.telegram-block h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 32px;
  white-space: nowrap;
  padding: 20px; }

.slider, .third-block .slider {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 272px; }
  .slider .slider-information {
    padding-top: 4px;
    margin-right: 12px;
    max-width: 202px;
    white-space: nowrap; }
    .slider .slider-information .slider-information__dots, .fifth-block .slider .slider-information .slider-information__dots {
      position: relative;
      float: right;
      margin-right: 21px;
      margin-top: 17px; }
      .slider .slider-information .slider-information__dots a, .fifth-block .slider .slider-information .slider-information__dots a {
        position: absolute;
        display: inline-grid; }
        .slider .slider-information .slider-information__dots a img, .fifth-block .slider .slider-information .slider-information__dots a img {
          padding-bottom: 4px; }
    .slider .slider-information .background-image {
      height: 135px;
      width: 202px; }
    .slider .slider-information .slider-information--price {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-top: 22px; }
      .slider .slider-information .slider-information--price p {
        font-size: 16px;
        font-weight: 600;
        width: 49%; }
      .slider .slider-information .slider-information--price img {
        margin-top: 3px;
        width: 16px;
        height: 16px; }
    .slider .slider-information .slider-information--secondary {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 5px;
      max-width: 202px; }
      .slider .slider-information .slider-information--secondary p {
        font-size: 12px;
        font-weight: bold;
        color: #8C9BA5;
        margin-right: 6px; }
    .slider .slider-information .slider-information--address {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 11px; }
      .slider .slider-information .slider-information--address p {
        font-size: 12px;
        font-weight: 600; }
      .slider .slider-information .slider-information--address img {
        margin-top: 4px;
        margin-right: 11px;
        width: 8px;
        height: 8px; }

.navigation, .first-block .first-block--search .search__information .navigation {
  text-align: center;
  margin: 1px 34px 30px 0px;
  white-space: nowrap; }
  .navigation a, .first-block .first-block--search .search__information .navigation a {
    font-size: 14px;
    font-weight: 600;
    margin-left: 35px;
    padding-bottom: 8px
    /*border: 2px solid white;*/ }
    .navigation a:hover, .first-block .first-block--search .search__information .navigation a:hover {
      font-weight: 600;
      border-width: 72px;
      border-bottom: 2px solid #30AE63; }

.search__information--result, .fourth-block .fourth-block--second .search__information--result {
  padding-top: 20px;
  padding-left: 17px; }
  .search__information--result a, .fourth-block .fourth-block--second .search__information--result a {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #30AE63;
    border-radius: 2px;
    max-width: 320px;
    padding-top: 11px;
    padding-bottom: 10px;
    white-space: nowrap;
    text-align: center; }
    .search__information--result a:hover, .fourth-block .fourth-block--second .search__information--result a:hover {
      background-color: #50DB88; }

.first-block .first-block--search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 41px;
  padding-bottom: 36px; }
  .first-block .first-block--search .search__information {
    width: 50%; }
    .first-block .first-block--search .search__information h2 {
      font-weight: normal;
      padding-left: 16px; }
    .first-block .first-block--search .search__information .navigation {
      margin: 0;
      text-align: left;
      margin: 17px 0px; }
      .first-block .first-block--search .search__information .navigation a {
        font-weight: normal;
        margin-left: 18px;
        margin-right: 20px; }
    .first-block .first-block--search .search__information .select {
      padding: 12px 16px; }
      .first-block .first-block--search .search__information .select #select-list {
        font-size: 12px;
        padding-left: 31px;
        font-weight: 600;
        letter-spacing: 0.35px;
        max-width: 313px;
        width: 100%;
        height: 40px;
        border-radius: 2px;
        border: 2px solid #DFE3E6 option;
          border-font-size: 12px;
          border-font-weight: normal; }
        .first-block .first-block--search .search__information .select #select-list:hover {
          cursor: pointer; }
  .first-block .first-block--search .image {
    width: 50%;
    margin: auto; }

.second-block {
  height: 384px; }

.third-block {
  height: 444px; }
  .third-block .slider {
    height: 279px; }
    .third-block .slider .slider-information .slider-information--price p {
      width: 46%; }
    .third-block .slider .slider-information .slider-information--price img {
      margin-right: 13px; }
    .third-block .slider .slider-information:last-child .slider-information--price p {
      width: 42%; }
    .third-block .slider .slider-information:last-child .slider-information--price img {
      margin-right: 13px; }

.fourth-block {
  width: 890px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
  margin: 0 auto; }
  .fourth-block .fourth-block--first__phone {
    margin-top: 27px;
    margin-left: 79px;
    width: 45%; }
  .fourth-block .fourth-block--second {
    border-radius: 2px;
    background-color: white;
    max-width: 436px;
    width: 100%;
    max-height: 448px;
    margin-top: 88px;
    margin-left: 13px; }
    .fourth-block .fourth-block--second .fourth-block--second__information {
      max-width: 94%;
      margin-top: 49px;
      margin-left: 20px; }
      .fourth-block .fourth-block--second .fourth-block--second__information .fourth-block--second__information--title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 19px;
        max-width: 365px; }
        .fourth-block .fourth-block--second .fourth-block--second__information .fourth-block--second__information--title img {
          margin-top: 6px;
          width: 62px;
          height: 62px; }
        .fourth-block .fourth-block--second .fourth-block--second__information .fourth-block--second__information--title h2 {
          padding-top: 20px;
          padding-left: 20px; }
      .fourth-block .fourth-block--second .fourth-block--second__information ol {
        font-size: 14px;
        font-weight: normal;
        padding-left: 38px;
        max-height: 136px; }
        .fourth-block .fourth-block--second .fourth-block--second__information ol li {
          line-height: 20px;
          padding-left: 3px;
          padding-bottom: 12px;
          width: 352px; }
      .fourth-block .fourth-block--second .fourth-block--second__information h2 {
        text-align: left;
        padding-top: 27px;
        max-width: 389px; }
    .fourth-block .fourth-block--second .search__information--result {
      margin-left: 2px;
      margin-top: 1px; }

.fifth-block {
  height: 518px;
  margin: 60px auto 0px auto; }
  .fifth-block .fifth-block--text {
    max-width: 476px;
    margin: 0 auto;
    text-align: center; }
    .fifth-block .fifth-block--text p {
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      height: 40px; }
  .fifth-block .slider {
    margin-top: 16px;
    height: 350px; }
    .fifth-block .slider .slider-information {
      max-width: 272px;
      margin-right: 18px;
      margin-left: -2px;
      white-space: normal; }
      .fifth-block .slider .slider-information .slider-information__dots {
        margin-top: 0; }
        .fifth-block .slider .slider-information .slider-information__dots a {
          padding-top: 17px; }
          .fifth-block .slider .slider-information .slider-information__dots a img {
            padding-bottom: 4px; }
      .fifth-block .slider .slider-information .background-image {
        height: 182px;
        width: 272px; }
      .fifth-block .slider .slider-information .slider-information--text {
        display: inline-block;
        margin-top: 16px; }
        .fifth-block .slider .slider-information .slider-information--text a {
          font-size: 11px;
          font-weight: bold;
          line-height: 16px;
          color: #30AE63; }
        .fifth-block .slider .slider-information .slider-information--text h4 {
          font-weight: 600;
          line-height: 24px;
          padding-top: 3px;
          max-width: 272px;
          max-height: 51px; }
      .fifth-block .slider .slider-information .slider-information--secondary {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        max-width: 272px;
        white-space: nowrap; }
      .fifth-block .slider .slider-information:first-child a {
        color: #BA8FF7; }
      .fifth-block .slider .slider-information:last-child a {
        color: #2573D8; }

.information-block {
  margin-top: 40px;
  text-align: center; }
  .information-block p {
    font-size: 14px;
    line-height: 20px;
    max-width: 504px;
    margin: 0 auto;
    max-height: 40px; }
  .information-block .navigation, .information-block .first-block .first-block--search .search__information .navigation, .first-block .first-block--search .search__information .information-block .navigation {
    margin: 18px auto; }
    .information-block .navigation a, .information-block .first-block .first-block--search .search__information .navigation a, .first-block .first-block--search .search__information .information-block .navigation a {
      font-size: 14px;
      font-weight: normal;
      text-align: center;
      margin: 0 22px;
      padding-bottom: 7px; }
      .information-block .navigation a:hover, .information-block .first-block .first-block--search .search__information .navigation a:hover, .first-block .first-block--search .search__information .information-block .navigation a:hover {
        font-weight: 600;
        border-width: 156px;
        border-bottom: 2px solid #30AE63; }

.page-blog {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 8px;
  max-width: 890px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .page-blog a {
    display: block; }

.switch-information {
  text-align: center;
  height: 17px;
  margin-top: 32px; }
  .switch-information img {
    margin: 0 3px; }

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  box-sizing: border-box; }

.container {
  max-width: 890px;
  margin: 0 auto; }

select, input, button {
  outline: none; }

.footer {
  padding: 20px;
  margin: 0 auto; }

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 23px; }

.footer-block-list {
  width: 162px; }
  .footer-block-list a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin-top: 18px;
    font-size: 13px;
    line-height: 20px; }

.footer-block-list-heading {
  font-size: 16px; }

.metrovka, .partnership, .know-more {
  width: 202px;
  margin-right: 12px; }

.contacts h3 {
  margin-top: 18px;
  line-height: 20px; }

.contacts-wrapper {
  margin-top: 20px;
  width: 162px;
  font-size: 13px;
  line-height: 26px; }
  .contacts-wrapper a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 13px; }
    .contacts-wrapper a:hover {
      color: #30AE63; }
  .contacts-wrapper .footer-address p:nth-child(2) {
    font-size: 11px; }
  .contacts-wrapper .footer-mail a {
    font-size: 13px; }
  .contacts-wrapper form {
    margin-top: 20px; }
    .contacts-wrapper form button {
      height: 40px;
      width: 162px;
      box-sizing: border-box;
      background: #30AE63;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 14px;
      cursor: pointer; }
      .contacts-wrapper form button:hover {
        background: #50DB88; }

.footer-logo {
  margin-top: 50px;
  text-align: center; }
  .footer-logo a {
    display: inline-block; }

.container {
  margin: 0 auto; }

@media screen and (max-width: 1280px) and (min-width: 890px) {
  .container {
    padding: 16px 5px 17px; }

  .select-room {
    margin-right: 30px; }

  .menu-icon {
    display: none; } }
@media screen and (max-width: 889px) and (min-width: 360px) {
  body {
    padding: 0px; }
    body .header {
      padding: 0px; }
      body .header .container {
        padding: 23px 14px; }
        body .header .container .logo {
          margin-right: 40px; }
        body .header .container .nav {
          margin-right: 126px; }
        body .header .container .header-heading {
          margin-top: 46px;
          width: 78%; }
          body .header .container .header-heading h1 {
            font-size: 22px;
            line-height: 39px;
            letter-spacing: 0.7px; }
        body .header .container .header-selection {
          margin-top: 34px; }
          body .header .container .header-selection .form-search {
            margin-bottom: 8px; }
            body .header .container .header-selection .form-search .block-select-town {
              margin-right: 0px; }
              body .header .container .header-selection .form-search .block-select-town #select-town {
                width: 315px;
                margin-top: 10px; }
        body .header .container .select-room-wrapper {
          margin-top: 10px; }
          body .header .container .select-room-wrapper label {
            margin-right: 10px; }
        body .header .container .block-search {
          margin-top: 28px; }
          body .header .container .block-search .btn-search {
            width: 204px;
            height: 41px;
            font-size: 13px; }

  .metrovka, .partnership, .know-more {
    margin: 0 auto; }

  .footer {
    padding: 34px; }
    .footer .know-more .footer-block-list li:last-child {
      display: none; }

  .footer-block-list {
    margin: 0 auto; }

  .contacts {
    margin-top: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .contacts .social-links {
      margin-top: -3px; }
    .contacts .footer-mail {
      margin-top: 10px; }
    .contacts form {
      margin-top: 14px; }

  .footer-logo {
    margin-top: 58px; }

  .header .container .header-login {
    display: none; }

  .header .header-top {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

  .header .container .header-top .nav .nav-link {
    display: none; }

  .header .container .header-top .nav .nav-link:first-child {
    display: inline-block; }

  .menu-icon {
    display: inline-block; }

  .header .header-selection .form-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  .header .header-selection .form-search .block-select-town #select-town {
    width: 280px; }

  .select-room {
    margin-top: 35px; }

  .select-room-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  .footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 18px; }

  .partnership, .know-more {
    margin-top: 15px; } }

/*# sourceMappingURL=style.css.map */