.search__information--result{
	padding-top: 20px;
    padding-left: 17px;

    a{
        display: block;
        font-size: 14px;
        font-weight: bold;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        background-color: #30AE63;
        border-radius: 2px;
        max-width: 320px;
        padding-top: 11px;
        padding-bottom: 10px;
        white-space: nowrap;
        text-align: center;

        &:hover{
            background-color: #50DB88;
        }
    }
}